<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>    
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>

                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>hello this is the weather app of the city</p>
                        <h1>i am a <span>compiuter engineer</span></h1>
                        <a href=""><button>check now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
      <p>created with love</p>
    </footer>
</body>
</html>